/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(145deg, #121212, #1e1e1e);
    color: #e0e0e0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Particles Background */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Setzt die Partikel hinter den Inhalt */
}

/* Navbar Styles */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2vh 0;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    z-index: 10;
    box-shadow: 0 0.4vh 1vh rgba(0, 0, 0, 0.3);
}

.nav-container ul {
    display: flex;
    justify-content: center;
    gap: 4vw;
    list-style: none;
}

.nav-container ul li {
    position: relative;
}

.nav-container ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 2vw;
    position: relative;
    padding-bottom: 0.5vh;
    transition: color 0.3s, transform 0.3s;
}

.nav-container ul li a:hover {
    color: #00bcd4;
    transform: translateY(-0.5vh);
}

.nav-container ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.2vh;
    background-color: #00bcd4;
    bottom: -0.2vh;
    left: 0;
    transition: width 0.3s ease;
}

.nav-container ul li a:hover::after {
    width: 100%;
}

/* Header Section */
header {
    height: 100vh;
    background: url('header-bg.jpg') no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

header h1, header p {
    animation: fadeIn 2s ease-out;
}

header h1 {
    font-size: 6vw;
    font-weight: 700;
    margin-bottom: 2vh;
    color: #0091ea;
}

header p {
    font-size: 3vw;
    margin-bottom: 3vh;
    color: #80deea;
}

.btn-main {
    background-color: #00bcd4;
    color: white;
    padding: 3vh 6vw;
    font-size: 2vw;
    font-weight: 600;
    border-radius: 2vw;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-main:hover {
    background-color: #0091ea;
}

/* Section Styles */
.section {
    padding: 10vh 5vw;
    text-align: center;
}

.content-container {
    width: 80%;
    margin: 0 auto;
}

.content-box {
    margin-top: 3vh;
}

.content-box p, .content-box h3 {
    font-size: 1.5vw;
}

.content-box a {
    color: #80deea;
}

.content-box a:hover {
    color: #00bcd4;
}

/* Media Queries für Responsive Design */
@media (max-width: 768px) {
    .nav-container ul li a {
        font-size: 4vw;
    }

    .btn-main {
        padding: 5vh 10vw;
        font-size: 4vw;
    }

    header h1 {
        font-size: 10vw;
    }

    header p {
        font-size: 5vw;
    }

    .section {
        padding: 5vh 3vw;
    }

    .content-box p, .content-box h3 {
        font-size: 4vw;
    }
}
